/* About Us Page Missing Styles - style-da6b7-030khurs */
/* Extracted from inline styles to match home page rendering */

.style-da6b7-030khurs .style-da6b7-umg8mubm .preview-content-holder {
    font-size: 14rem;
}

.style-da6b7-030khurs .style-da6b7-owwqkbko .preview-content-holder {
    font-size: 14rem;
}

.style-da6b7-030khurs .style-da6b7-2kblvtsk .preview-content-holder {
    font-size: 14rem;
}

.style-da6b7-030khurs .style-da6b7-vnymud9a .preview-content-holder {
    font-size: 14rem;
}
